extends layout

block content
	- var filename = req.params.filename, dataset = env.datasets[filename]
	if !dataset
		h1.error= "Dataset " + filename + " not found :("
	else
		h1.delta= req.params.filename
		table
			thead
				tr
					td entries
					td modified
					td size
			tbody
				tr
					td= dataset.entries
					td= dataset.modified.toISOString().substring(0,10)
					td= dataset.size
		p= env.text.dataset.preTransformationExplanation
		.actionBar
			select#mapping
				option choose one
				each map in env.mappings
					option= map
			a.btn#transform(disabled) Transform