table
	thead
		tr.firstRow
			td filename
			td lines
			td size
			td modified
	tbody
		for dataset, i in env.datasets
			tr(class=dataset.processed ? 'processed' : '')
				td
					a(href="/datasets/" + i)= i
				td= dataset.entries
				td= dataset.size
				td= dataset.modified.toISOString().substring(0, 10)
		tr
			form(action="/upload", method="post", name="upload", enctype="multipart/form-data")
				td
					= env.text.datasets.uploadMessage
					input(type="file", name="dataset", onchange="upload.submit()")