extends layout

block append header
	script(src="/socket.io/socket.io.js")
	script(src="/ZSchema-browser.js")
	script(src="/revising.js")
block content
	- var filename = req.params.filename, dataset = env.datasets[filename], mapping = req.params.mapping;
	if !dataset
		h1.error= "Dataset " + filename + " not found :("
	else
		header.transformation-header
			h1.epsilon
				| transforming 
				span.emphasis= req.params.filename
				| with 
				span.emphasis= mapping
			// p= env.text.transform.topExplanation
		span#socketkey(data-socketkey=socketKey)= socketKey
		section#pending-revisions
			table
				thead
					tr
						td.source= env.text.transform.sourceColumnHeader
						td.modify= env.text.transform.modifyColumnHeader
						td.result
							= env.text.transform.resultColumnHeader
							button.reject-all= env.text.transform.reject
							button.approve-all= env.text.transform.approve
				tbody
				tfoot
			span#pending-revisions-summary